[submodule "zsh/antidote"]
	path = zsh/antidote
	url = https://github.com/mattmc3/antidote.git
        branch = v1.8.4
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
